.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.mainTitleWrapper {
  width: 100%;
  background-color: #777777;
  text-align: center;
  min-width: 80vw;
  border-radius: 15px;
}

.mainTitle {
  font-size: 96px;
  font-weight: 400;
}

.feedback {
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: space-around;
  margin-top: 105px;
}

@media (max-width: 700px) {
  .mainTitle {
    font-size: 36px;
    max-width: 400px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .feedback {
    flex-direction: column;
    gap: 16px;
  }

  .mainTitleWrapper {
    width: 100%;
    background-color: #777777;
    text-align: center;
    min-width: 320px;
  }
}
